@model SistemaDeControleDeCusto.Models.Funcionario

<div class="modal fade" id="modalFuncionario" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            @using (Html.BeginForm("Novo", "Funcionario", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Cadastro de Funcionarios</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(b => b.Nome)
                        @Html.TextBoxFor(b => b.Nome, new { @class = "form-control", @maxlength = "200", @required = "required"})
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(b => b.Departamentos)
                        @Html.DropDownListFor(d => d.DepartamentosID, new MultiSelectList(ViewBag.Departamentos, "ID", "Nome"), new { @class = "form-control", @multiple = "multiple", @required = "required" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            }
        </div>
    </div>
</div>