
@{
    ViewBag.Title = "Departamento";
}

<h2>Departanto</h2>

<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modalDepartamento">Novo</button>
@{
    Html.RenderPartial("_ModalDepartamento");
}
